@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
* {
  font-family: "Style Script", cursive;
  font-size: 20px;
}
.ui.container {
  margin: 30px !important;
  width: auto;
}

h1 {
  font-family: "Style Script", cursive;
  font-size: 35px;
}
h2 {
  font-family: "Style Script", cursive;
  font-size: 32px;
}
h3 {
  font-family: "Style Script", cursive;
  font-size: 30px;
}
h4 {
  font-family: "Style Script", cursive;
  font-size: 25px;
}
.header {
  font-family: "Style Script", cursive !important;
  font-size: 30px !important;
}
.logo {
  font-family: "Style Script", cursive;
  font-size: 60px;
  color: #bc9047;
}
.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}
.suggestions {
  justify-content: space-between !important;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.content {
  flex-direction: column;
  font-size: large;
  align-items: flex-start !important;
}
.extra {
  flex-direction: row;
}

.follow-btn,
.see-all {
  text-align: end;
  padding-right: 0px !important;
}

.input input {
  font-family: "Style Script", cursive !important;
  font-size: 20px !important;
}
.button {
  font-family: "Style Script", cursive !important;
  font-size: 15px !important;
}
